html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}

#config-panel{-moz-column-count: 2;-moz-column-gap: 10px;
-webkit-column-count: 2;-webkit-column-gap: 10px;
column-count: 2;column-gap: 10px;width: 100%;}
table{border-collapse:collapse;border-spacing:0;
display: inline-block;background: #222; width:100%; padding:2px; margin:0 0 10px 0;}

body{font-family: verdana; font-size:9px; background:#000; color:#eee;letter-spacing:.1em; padding:5px 1%;}
button{width:90px;height:20px;margin:0 5px 5px 0; padding:0;border:1px solid #444; background:#333; color:#777;}
button:active{background:#2A2A2A;}
.button-set{float:left;}
#playonchange{display:none;}
#library, #log{display:none;}
footer{font-size:8px; clear:both;}
input{height:20px; border:1px solid #333; background: #222; color:#fff; padding: 0 5px;
  font-family: inconsolata, cousine, monospace; font-size: 12px}
input:hover, input:focus{background: #333;}
input[type="radio"]{opacity:0; position:absolute;}
#Generator label{opacity:.2;height:24px; margin:0 7px 0 0; display:block;float:left;text-align:center;}
#Generator img{margin:2px }
#Generator input[type="radio"]:checked + label{opacity:1;}
#libload{width:98%; margin:10px 0;}
.ui-spinner button{background: #111; color:#555; width: 20px; height:22px; font-family: arial; margin-right:1px;
  border:0; position:relative; top:1px;}
tr{border-top: 2px solid #222;}
td{width:50%; color:#777;}
